*{
    font-family: 'Times New Roman',Times,serif;
}
body{
    background-color: #5d0f3b;
}
h2{
    text-align:center;
    colour:#0e71d4;

}
form{
    background-color: rgb(13, 214, 201);
    width: 350px;
    padding: 20px;
    margin: auto;
    border: 1px solid #ccc;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea{
     width:100%;
     padding:8px;
     border:1px solid rgb(14, 110, 227);
}
input[type="radio"],
input[type="checkbox"]{
    margin-right:5px;
}
input[type="submit"]{
    background-color: rgb(147, 229, 16);
    color:#0e71d4
    border:color-mix(in hsl shorter hue, color percentage);
    padding:10px;
    width:fit-content;
}